# LangChain Core
langchain
langchain-core

# Langchain community
langchain-community

# FAISS
faiss-cpu

# Google Gemini Integration
langchain-google-genai
google-generativeai

# groq Integration
langchain-groq

# Youtube transcript api integration
youtube-transcript-api

# Environment Variable Management
python-dotenv

# grandalf to draw graphs
grandalf

# text splitters
langchain-text-splitters